<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social - Login</title>

    <link rel="stylesheet" href="/assets/css/login.css" type="text/css">
</head>
    <body>
        <div class="container-login">
            <div>
                <form action="" id="formulario-cadastro" class="social-form" method="post">
                    <span>Crie sua conta agora mesmo!</span>
                    <div>
                        <input type="text" name="nome" id="nome" placeholder="Digite o seu nome" required="required">
                    </div>
                    <div>
                        <input type="email" name="email" id="email" placeholder="Digite o seu e-mail" required="required">
                    </div>
                    <div>
                        <input type="text" name="nick" id="nick" placeholder="Digite o seu nick" required="required">
                    </div>
                    <div>
                        <input type="password" name="senha" id="senha" placeholder="Digite a sua senha" required="required">
                    </div>
                    <div>
                        <input type="password" name="confirmar-senha" id="confirmar-senha" placeholder="Confirme a sua senha" required="required">
                    </div>
                    <button type="submit" class="btn-social">Cadastrar</button>
                    <a href="/login">Clique aqui para fazer o login</a>
                </form>
            </div>
        </div>
        {{ template "scripts" }}
        <script src="/assets/js/cadastro.js"></script>
    </body>
</html>
