<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social - Meu Perfil</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.css">

    {{ template "estilo" }}
</head>

<body>
    {{ template "cabecalho" }}

    <div class="container-fluid">
        <div class="row mt-4">
            <div class="col-12">
                <h3>Editar Dados</h3>
                <form id="editar-usuario" method="POST">
                    <div class="form-group">
                        <label for="nome">Nome</label>
                        <input type="text" class="form-control" id="nome" name="nome"
                               placeholder="Insira o seu nome" value="{{ .Nome }}" required >
                    </div>

                    <div class="form-group">
                        <label for="nome">Email</label>
                        <input type="text" class="form-control" id="email" name="email"
                               placeholder="Insira o seu email" value="{{ .Email }}" required >
                    </div>

                    <div class="form-group">
                        <label for="nome">Nick</label>
                        <input type="text" class="form-control" id="nick" name="nick"
                               placeholder="Insira o seu nick" value="{{ .Nick }}" required >
                    </div>

                    <button type="submit" class="btn btn-success">Atualizar Dados</button>
                </form>
            </div>
        </div>
    </div>

    {{ template "rodape" }}
    {{ template "scripts" }}
    <script src="/assets/js/usuario.js"></script>
</body>

</html>