<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social - Login</title>

    <link rel="stylesheet" href="/assets/css/login.css" type="text/css">
</head>
    <body>
        <div class="container-login">
            <div>
                <form action="" id="login" class="social-form">
                    <span>Seja bem vindo!</span>
                    <div>
                        <input type="email" name="email" id="email" placeholder="Digite o seu e-mail" required="required">
                    </div>
                    <div>
                        <input type="password" name="senha" id="senha" placeholder="Digite a sua senha" required="required">
                    </div>
                    <button type="submit" class="btn-social">Login</button>
                    <a href="/criar-usuario">Clique aqui para criar a sua conta</a>
                </form>
            </div>
        </div>
    </body>
</html>
