<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social - {{ .Usuario.Nome }}</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.css">

    {{ template "estilo" }}
</head>

<body>
    {{ template "cabecalho" }}

    {{ $SeguidoPeloUsuarioLogado := false }}
    {{ range .Usuario.Seguidores }}
        {{ if (eq .Id $.UsuarioLogadoId )}}
            {{ $SeguidoPeloUsuarioLogado = true }}
            {{ break }}
        {{ end }}
    {{ end }}

    <div class="container-fluid">
        <div class="row mt-4">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Perfil do Usuário</h5>
                        <h6 class="card-subtitle mb-2 text-muted">
                            {{ .Usuario.Nome }} - {{ .Usuario.Nick }} -
                            Desde {{ .Usuario.CriadoEm.Format "02/01/2006" }}
                        </h6>

                        <p class="card-text">
                            <a href="#">
                                Seguidores: {{ len .Usuario.Seguidores }}
                            </a>
                        </p>

                        <p class="card-text">
                            <a href="#">
                                Seguindo: {{ len .Usuario.Seguindo }}
                            </a>
                        </p>

                        {{ if $SeguidoPeloUsuarioLogado }}
                            <a href="#" id="parar-de-seguir" class="btn btn-danger card-link" data-usuario-id="{{ .Usuario.Id }}">
                                Parar de Seguir
                            </a>
                        {{ else }}
                            <a href="#" id="seguir" class="btn btn-info card-link" data-usuario-id="{{ .Usuario.Id }}">
                                Seguir
                            </a>
                        {{ end }}
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            Publicações do Usuário {{ .Usuario.Nick }}
                        </h5>
                        <p class="card-text">
                            {{ range .Usuario.Publicacoes }}
                                {{ template "publicacao-sem-permissao" . }}
                            {{ else }}
                                <p class="text-muted text-center">
                                    Nenhuma publicação por enquanto
                                </p>
                            {{ end }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ template "rodape" }}
    {{ template "scripts" }}
    <script type="text/javascript" src="/assets/js/publicacoes.js"></script>
    <script type="text/javascript" src="/assets/js/usuario.js"></script>
</body>

</html>